/*Container - comporta so filhos: #content-img e #content-text*/

.flex-container{
    background-color: #201b2c;
    width: 100%;
    min-height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
}


@media(max-width: 1024px){
    .flex-container{
        flex-direction: column;
    }
}

@media(max-width: 768px){
    .flex-container{
        flex-direction: column;
    }
}

#content-img{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    /*flex-direction: column;*/
}


@media(max-width: 1024px){
    #content-img{
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}

/*
@media(max-width: 768px){
    #content-img{
        margin-bottom: 10vh;
    }
}
*/

.content-img{
    display: flex;
    border-radius: 6%;
    height: 50vh;
    width: 40vw;
    box-shadow: 0px 10px 40px #00000056;
}

.content-img:hover{
    transform: scale(1.1);
}

.content-img:hover{
    border: 2px solid yellowgreen;
}

#content-text{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
@media(max-width: 1024px){
    #content-text h1{
        font-size: 1.8rem;
    }
}


@media(max-width: 945px){
    #content-text h1{
        margin-top: 5vh;
        font-size: 1.5;
    }
    #content-text p{
        margin-bottom: 5vh;
    }
}

@media (max-width:871px){
    #content-text h1{
        font-size: 1.4rem;
    }

    #content-text p{
        font-size: 1.1rem;
    }
}

@media(max-width:671px){
    #content-text
}
*/

.content-text h1{
    padding-bottom: 43px;
    overflow: hidden;
    font-size: 2.6rem;
    text-align: center;
}

.content-text p{
    letter-spacing: 2;
    overflow: hidden;
    font-size: 1.4rem;
}


.content-text{
    font-size: 1.6rem;
    display: flex;
    width: 40vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: yellowgreen;
    border-radius: 6%;
    box-shadow: 0px 10px 40px #00000056;
}

.content-text:hover{
    transform: scale(1.1);
}

@media(max-width: 1024px){
    #content-text{
        margin-bottom: 10vh;
    }
}
/*
@media(max-width: 768px){
    #content-img{
        margin-bottom: 10vh;
    }
}

/*
@media (max-width: 850px){
    .content-text{
        font-size: 1.3rem;
    }
}

@media (max-width:624px){
    .content-text{
        font-size: .5rem;
    }
}*/

.content-text:hover{
    border: 2px solid blue;
}
/*
@media (max-width:700px){

    body{
        max-height: 100vh;
    }

    .flex-container{
        flex-direction: column;
    }

    #content-img{
        height: 20vh;
        width: 20vw;
    }

    #content-text{
        height: 65vh;
    }
}
*/


